header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: rgb(54, 54, 54);
}

header * {padding: 0;}

.head-container__icons-container {
  display: flex;
  gap: 40px;
}

.shopping-card__img, .manager-menu__img {
  width: 100%;
  height: 100%;
}

.head-container__shopping-card, .head-container__manager-menu {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  transition: all 0.4s;
  border-radius: 0%;
  position: relative;
}

.head-container__shopping-card::after {
  content: "999";
  line-height: 35px;
  width: 35px;
  height: 35px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 100%;
  bottom: 0;
}

.head-container__shopping-card:active, .head-container__manager-menu:active {
  transform: scale(0.8);
}
